#about {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black
}

#about h5{
    font-weight: bold;
    font-size: 1.8rem;
    padding: 15px;
    font-family: "Cinzel Decorative", cursive;
    text-shadow: -1px -1px 5px white, 1px -1px 5px white, -1px 1px 5px white,
    1px 1px 5px white;
}

#about .white-bg{
    background-color: rgba(255, 255, 255, 0.8);
}

#about .subtitle{
    padding: 10px;
    font-family: "Neucha", cursive;
    font-size: 2rem;
}

#about a{
    color:black;
    font-weight: bold;
}