#achievDetails{
  background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url(/images/bg01.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 70px 10px 80px 10px;
    font-family: 'Raleway', sans-serif;
}

#achievDetails .white-card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  max-width: 700px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgb(44, 92, 83);
  padding: 20px;
  padding-bottom: 10px;
}
#achievDetails .back-link{
  display: flex;
  align-items: flex-end;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: 10px;
  color: rgb(116, 114, 114);
  text-decoration: underline;
}

#achievDetails .header{
  text-align: center;
}

#achievDetails .header h4{
  font-weight: bolder;
  margin-bottom: 5px;
}

#achievDetails .sharing-logos{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#achievDetails .subtitle {
  font-family: "Neucha", cursive;
  font-size: 1.4rem;
}

#achievDetails .subtitle img{
  height: 25px;
}

#achievDetails .date{
  margin-bottom: 0;
}

#achievDetails .date strong{
  font-family: "Neucha", cursive;
  font-weight: 900;
  font-size: 1.1rem;
}

#achievDetails .achiev-image{
  max-width: 200px;
  margin: auto;
}

#achievDetails .edit-btn img{
  width: 25px;
  margin-right: 5px;
}

#achievDetails .edit-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

#achievDetails .edit-btn a, #achievDetails .edit-btn button{
  background: linear-gradient(320deg, rgb(153, 26, 26) 0%, rgba(237,46,46,1) 100%);
  color:white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 20px 5px;
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 10px rgb(52, 54, 54);
}

#achievDetails .edit-btn a:first-child{
  background: linear-gradient(320deg, #71a034 0%, #a4d166 100%);
}

