#dashboard{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 10px;
  order: -1;
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
}

#dashboard img{
  width: 35px;
  margin: 0;
}

#dashboard a{
  color: #2c5c53;
  text-decoration: none;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}