.ranks {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.superHero {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 600;
}




.ranksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


.points {
    font-size: 12px;
    display: flex;
    justify-content: center;
}


.progress {
    width: 50%;
}