#editGoal {
  background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url(/images/bg01.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 70px 10px 80px 10px;
    font-family: 'Raleway', sans-serif;
}

#editGoal .title {
  font-family: "Cinzel Decorative", cursive;
  color: black;
  text-shadow: -1px -1px 10px white, 1px -1px 10px white, -1px 1px 10px white,
  1px 1px 10px white;
  text-align: center;
  padding: 10px;
}

#editGoal .white-card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgb(44, 92, 83);
  padding: 20px;
  padding-bottom: 10px;
}

#editGoal .header{
  text-align: center;
}

#editGoal .subtitle {
  font-family: "Neucha", cursive;
  font-size: 1.4rem;
}

#editGoal .subtitle img{
  height: 25px;
}

#editGoal label{
  font-weight: bold;
  margin:0px;
}

#editGoal input{
  width: 100%;
  margin-bottom: 10px;
}

#editGoal .edit-btn img{
  width: 25px;
  margin-right: 5px;
}

#editGoal .edit-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

#editGoal .edit-btn button{
  background: linear-gradient(320deg, #71a034 0%, #a4d166 100%);
  color:white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 20px 5px;
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 10px rgb(52, 54, 54);
}





