#home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(/bg05.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
}


#hometitle {
  text-align: center;
  text-shadow: -1px -1px 10px white, 1px -1px 10px white, -1px 1px 10px white,
    1px 1px 10px white;
}


#hometitle h4 {
  margin-bottom: 0;
  font-family: "Neucha", cursive;
}


#hometitle h3 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}


#home .punchline{
  font-size: 1.2rem;
  margin: auto;
  width: 95%;
  max-width: 500px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}


#home .bouncy {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  box-shadow: 0px 5px 15px rgb(44, 92, 83);
  border: none;
  padding: 10px 20px;
  font-size:1.3rem;
  margin: 10px 0;
}


#home .bouncy img {
  width: 30px;
}


#home .carousel-container{
  background-color: rgba(240, 240, 240 ,0.95);
  text-align: left;
  margin-top: 30px;
}


#home .carousel-title{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


#home .carousel-title h5{
  margin: 0;
  font-style: italic;
  font-size: 1rem;
  text-align: right;
  padding: 0 20px 20px 0;
  font-family: "Neucha", cursive;
}


#home .carousel-title h4{
  font-family: "Neucha", cursive;
  padding: 10px 0px 0px 20px;
  margin: 0;
  font-size: 2rem;
}
