.login {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4)
    ),
     url(/images/front-page1.jpg);
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}


.formIn {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 30px 20px;
    margin-top: 150px;
    font-weight: 600;
}


.loginBtn {
    margin-top: 20px;
    text-align: center; 
}


.loginBtnClick {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow: 0px 5px 15px rgb(44, 92, 83);
    border: none;
    padding: 10px 20px;
    font-size:1.3rem;
    margin: 10px 0;
}


.loginBtnClick img {
    width: 30px;
}


.leaf1 {
    padding-right: 5px
}


.leaf2 {
    padding-left: 5px
}

