#myNavBar{
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
#myNavBar img {
  height: 40px;
  width: 40px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#fakeitem{
  display: block;
  width: 70px;
}

.navbar-light .navbar-toggler{
  border:none;
  outline: none;
}

.navbar-light .navbar-brand{
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(38, 63, 57);
}

.navbar-nav{
  text-align: center;
}

.navbar-nav a{
  color: rgb(38, 63, 57);
  font-family: 'Raleway', sans-serif;
}

.navbar-nav .auth-link{
  color: rgb(38, 63, 57);
  background-color: rgba(118, 169, 49,0.3);
  border: none;
  outline: none;
  font-weight: 600;
  padding: 5px 0px;
}

/* 1px solid rgba(38, 63, 57,0.3) */

.show, .collapsing{
  background-color: rgba(255, 255, 255, 0.7);
}