#myNavBar{
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
#myNavBar img {
  height: 40px;
  width: 40px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#fakeitem{
  display: block;
  width: 70px;
}

.navbar-light .navbar-toggler{
  border:none;
  outline: none;
}

.navbar-light .navbar-brand{
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(38, 63, 57);
}

.navbar-nav{
  text-align: center;
}

.navbar-nav a{
  color: black;
}

.show, .collapsing{
  background-color: rgba(255, 255, 255, 0.7);
}