#myProfile {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(/images/bg01.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 70px 10px;
    font-family: "Raleway", sans-serif;
}

#myProfile .title {
  font-family: "Cinzel Decorative", cursive;
  color: black;
  text-shadow: -1px -1px 10px white, 1px -1px 10px white, -1px 1px 10px white,
    1px 1px 10px white;
  text-align: center;
  padding-bottom: 10px;
}

#myProfile .profilePic {
  display: flex;
  justify-content: center;
  padding: 20px
}

#myProfile .white-card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgb(44, 92, 83);
}


#myProfile .header h5 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  padding-top: 10px;
  margin-right: 20px;
}
#myProfile img {
  height: 125px;
  
}

#myProfile .header .users-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#myProfile .header .points-info {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


#myProfile .infoContainer {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


#myProfile .edit-btn img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#myProfile .edit-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

#myProfile .edit-btn a{
  background: linear-gradient(320deg, rgb(153, 26, 26) 0%, rgba(237,46,46,1) 100%);
  color:white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 20px 5px;
  padding: 5px 8px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(52, 54, 54);
}

#myProfile .edit-btn a:first-child{
  background: linear-gradient(320deg, #71a034 0%, #a4d166 100%);
  padding: 5px 10px;
}

#myProfile .deleteUser {
  background: linear-gradient(320deg, rgb(153, 26, 26) 0%, rgba(237,46,46,1) 100%);
  color:white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 20px 5px;
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 10px rgb(52, 54, 54);
}




