#signup {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4)
    ),
     url(/images/front-page1.jpg);
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}


#signup .formUp {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 20px;
    margin-top: 100px;
    font-weight: 600;
}


#signup .signUpBtn {
    margin-top: 20px;
    text-align: center; 
}


#signup .signUpBtnClick {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow: 0px 5px 15px rgb(44, 92, 83);
    border: none;
    padding: 10px 10px;
    font-size:1rem;
    margin: 10px 0px 10px 0px;
}


#signup .signUpBtnClick img {
    width: 25px;
}


#signup .leaf1 {
    padding-right: 5px
}


#signup .leaf2 {
    padding-left: 5px
}

#signup .small-text{
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

#signup .small-text a{
    color: rgb(44, 92, 83);
    font-weight: 900;
    font-size: 1rem;
    font-family: "Neucha", cursive;
}


